<div class="heading">

    <h1>CURRENT WEATHER DATA</h1>

</div>

<div class="info">

    <ul>

        {{#each data}}

        <li>{{@key}} : {{this}}</li>

        {{/each}}

        <p>{{message}}</p>

    </ul>
</div>

<div class="form">

    <form action="/" method="post">
        <input class="inputbox" placeholder="Location" type="text" name="city">
        <input class="inputbox" placeholder="Country" type="text" name="country">
</div>
<div class="box1">
    <input class="submitbox" type="submit" value="Get Weather">
</div>
</form>