<h1>Current Weather Data</h1>

<ul>

{{#each data}}

    <li>{{@key}} : {{this}}</li>

{{/each}}

<p>{{message}}</p>

</ul>

<form action="/" method="post">
<label for ="city">Location: </label>
<input type= "text" name = "city">
<label for ="country">Country: </label>
<input type= "text" name = "country">
<input type= "submit" value = "submit">



</form>